pkgbase = linux-vincent-os
	pkgdesc = Linux Vincent OS
	pkgver = 6.9.4.origin
	pkgrel = 1
	url = https://github.com/Vincent-OS/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = llvm
	makedepends = rustup
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux::git+https://github.com/Vincent-OS/linux.git
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	validpgpkeys = EE4462B7092CDF3616CDA56D03BC98E28803CA52
	sha256sums = SKIP
	sha256sums = 621bcd0c8fc26df94834488574c4563e2270b28e53e3c4bdaab458532b9a1e67

pkgname = linux-vincent-os
	pkgdesc = Kernel for Linux Vincent OS distro
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = nvidia-dkms: NVIDIA propriterary drivers module sources
	optdepends = virtualbox-host-dkms: VirtualBox host kernel module sources
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vincent-os-headers
	pkgdesc = Headers and scripts for building modules for the Linux Vincent OS kernel
	depends = pahole

pkgname = linux-vincent-os-docs
	pkgdesc = Documentation for the Linux Vincent OS kernel
