pkgbase = linux-vincent-os
	pkgdesc = Vincent OS Kernel
	pkgver = 6.11.3.origin
	pkgrel = 1
	url = https://github.com/Vincent-OS/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = git
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = llvm
	makedepends = rustup
	makedepends = kpatch
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = linux::git+https://github.com/Vincent-OS/linux.git
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 3BC8560845F09927972D4DBA825903D4BF9F9FC7
	sha256sums = SKIP
	sha256sums = cfeaf414f5f374855258e3fa44e7007e4d6d6e4dde081667dd53f4ff33fd01d4

pkgname = linux-vincent-os
	pkgdesc = Vincent OS Kernel
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = nvidia-dkms: NVIDIA propriterary drivers module sources
	optdepends = virtualbox-host-dkms: VirtualBox host kernel module sources
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vincent-os-headers
	pkgdesc = Headers and scripts for building modules for the Vincent OS Kernel
	depends = pahole

pkgname = linux-vincent-os-docs
	pkgdesc = Documentation for the Vincent OS Kernel
