pkgbase = linux-vincent-os
	pkgdesc = Linux Vincent OS
	pkgver = 6.8.2.origin
	pkgrel = 1
	url = https://github.com/Vincent-OS/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = llvm
	makedepends = rustup
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.2.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.2.tar.sign
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	validpgpkeys = EE4462B7092CDF3616CDA56D03BC98E28803CA52
	sha256sums = c969dea4e8bb6be991bbf7c010ba0e0a5643a3a8d8fb0a2aaa053406f1e965f3
	sha256sums = SKIP
	sha256sums = c6ed41fce0fceabee8a55178d76623f6f89e521279f3c81e1df6cdb1390091db
	b2sums = c6f17f816cea16e629f63e9379b98888713f57b2c5173306926471f139a9d612a0c74e119341f8075390e55e203d787d9edeb4ad5a064b18870f6f0f7ffaafb2
	b2sums = SKIP
	b2sums = 89eebc288e6b1ec983181a32f915a8501d5703803363a0c29a7a0ab8d1d619a269de4c27b63cd2de6b521daef88db27810ec42a8bfce7394585efb242ae0039b

pkgname = linux-vincent-os
	pkgdesc = Kernel for Linux Vincent OS distro
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = nvidia-dkms: NVIDIA propriterary drivers module sources
	optdepends = virtualbox-host-dkms: VirtualBox host kernel module sources
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-vincent-os-headers
	pkgdesc = Headers and scripts for building modules for the Linux Vincent OS kernel
	depends = pahole

pkgname = linux-vincent-os-docs
	pkgdesc = Documentation for the Linux Vincent OS kernel
