pkgbase = clpctl
	pkgdesc = CLI Interface for Core LivePatch
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/Vincent-OS/clpctl
	arch = x86_64
	license = MS-PL
	depends = dotnet-runtime-8.0
	depends = powershell-bin
	options = !strip
	source = https://github.com/Vincent-OS/clpctl/releases/download/v1.1/clpctl
	sha256sums = 49c70dad700eb0775b594b70182ba3730639a3b9f4b00adefe2c6af98e393f27

pkgname = clpctl
