pkgbase = vincent-os-global-theme
	pkgdesc = Global theme for Vincent OS
	pkgver = 1.1
	pkgrel = 2
	url = https://github.com/Vincent-OS/global-theme
	arch = any
	license = EUPL
	depends = plasma-desktop
	depends = wallpapers
	source = https://github.com/Vincent-OS/global-theme/releases/download/v1.1/Vincent-OS.tar.xz
	sha256sums = 8e1af69c4596d7088568758c775f75c5e0c35e89ffee16130d5bafd1c0110cb8

pkgname = vincent-os-global-theme
