pkgbase = vincent-os-server-skel
	pkgdesc = Vincent OS skeleton package
	pkgver = 1.0.0
	pkgrel = 1
	url = https://vincent-os.v38armageddon.net
	arch = any
	license = EUPL-1.2
	depends = vincent-os-filesystem
	source = skel.tar.xz
	sha256sums = 22919d78d374b5b6d5c647d43648c4b78c8390e9ca6600fd73c591b4c5c5d85d

pkgname = vincent-os-server-skel
