pkgbase = vincent-os-keyring
	pkgdesc = Vincent OS Keyring for the signature of the repository
	pkgver = 20240920
	pkgrel = 1
	url = https://github.com/Vincent-OS/repo
	arch = any
	license = EUPL
	source = vincent-os.gpg
	sha256sums = 1c1c752a4e896d398389beb1d1329aed9181e645431ec2866d2e5e988dbb21df

pkgname = vincent-os-keyring
